<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.immersionslabs.lcatalogpro">

    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature
        android:name="android.hardware.camera.ar"
        android:required="true" />

    <application
        android:name=".ARNativeApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.ar.core"
            android:value="required" />

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".AugmentActivity" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".AboutUsActivity" />
        <activity android:name=".Article3dViewActivity" />
        <activity android:name=".BlankActivity" />
        <activity android:name=".BudgetListActivity" />
        <activity android:name=".CheckListActivity" />
        <activity android:name=".Experimental3DViewActivity" />
        <activity android:name=".ExperimentalAugmentActivity" />
        <activity android:name=".FAQActivity" />
        <activity android:name=".FavoriteListActivity" />
        <activity android:name=".FeedbackActivity" />
        <activity android:name=".ForgotPasswordActivity" />
        <activity android:name=".Fragment_Illustration" />
        <activity android:name=".FullScreenImageViewActivity" />
        <activity android:name=".GalleryActivity" />
        <activity android:name=".GuestActivity"></activity>
    </application>

</manifest>